@model MovieLab.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>Movie Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <img src='@Html.DisplayFor(model => model.Photo).ToHtmlString()' class="col-md-2" alt="Movie Photo" height="200" width="150" />
    <dl class="dl-horizontal col-md-10">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinuteLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinuteLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Movie Admin") || User.IsInRole("Site Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        <span> |</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
