@model IEnumerable<MovieLab.Models.Movie>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Movie List";
    var pagedList = (IPagedList)Model;
}

<h2>Movies</h2>

Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, yearFilter = ViewBag.CurrentFilter, searchCriteria = ViewBag.CurrentCriteria }))

@using (Html.BeginForm())
{
    <div id="FilterSearch" class="form-horizontal">

        <div class="form-group">
            @Html.Label("Search by Title", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBox("searchCriteria", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.Label("Filter by Year Released", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("yearFilter",
                                                 new SelectList(ViewBag.Years),
                                                 "All Years",
                                                 new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Find Movies" class="btn col-md-2 col-md-offset-2" />
            <input type="button" value="Reset Movie List" onclick="location.href='@Url.Action("Index","Movies")'" class="btn col-md-2 col-md-offset-2" />
        </div>

    </div>
}

@if (User.IsInRole("Movie Admin") || User.IsInRole("Site Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Title).ToHtmlString(), "Index", new { sortOrder = "Title" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Release.Year).ToHtmlString(), "Index", new { sortOrder = "Year" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Director).ToHtmlString(), "Index", new { sortOrder = "Director" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Release.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @if (User.IsInRole("Movie Admin") || User.IsInRole("Site Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID });
                    <span> |</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                    <span> |</span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Reviews", "ListOfReviewsByMovie", "Reviews", new { movieID = item.ID }, null)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Return", "Admin", "Home")
</div>
