@model IEnumerable<MovieLab.Models.EditUserViewModel>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Manage Users";
    var pagedList = (IPagedList)Model;
}

<h2>Manage Users</h2>
Page @(pagedList.PageCount < pagedList.PageNumber ? 0 : pagedList.PageNumber) of @pagedList.PageCount
@Html.PagedListPager(pagedList, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, yearFilter = ViewBag.CurrentFilter, searchCriteria = ViewBag.CurrentCriteria }))

@*@using (Html.BeginForm())
    {
        <div id="FilterSearch" class="form-horizontal">

            <div class="form-group">
                @Html.Label("Search by Title", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.TextBox("searchCriteria", null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.Label("Filter by Year Released", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("yearFilter",
                                                     new SelectList(ViewBag.Years),
                                                     "All Years",
                                                     new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input type="submit" value="Find Movies" class="btn col-md-2 col-md-offset-2" />
                <input type="button" value="Reset Movie List" onclick="location.href='@Url.Action("Index","Movies")'" class="btn col-md-2 col-md-offset-2" />
            </div>

        </div>
    }*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { email = item.Email }) |
                @Html.ActionLink("Details", "Details", new { email = item.Email }) |
                @Html.ActionLink("Delete", "Delete", new { email = item.Email }) |
                @Html.ActionLink("Roles", "ViewUsersRoles", new { userName = item.Email })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Return", "Admin", "Home")
</div>
