@model MovieLab.Models.ReviewViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Review</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewTime)
        </dd>

    </dl>

    @using (Html.BeginForm(new { redirect = (string)ViewBag.Action }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |

            @if(ViewBag.Action == "ListOfReviewsByMovie")
            {
                @Html.ActionLink("Back to List", (string)ViewBag.Action, "Reviews", new { movieID = (Model != null ? Model.MovieID : 0)}, null)
            }
            else
            {
                @Html.ActionLink("Back to List", (string)ViewBag.Action, "Reviews")
            }
        </div>
    }
</div>
