@model IEnumerable<MovieLab.Models.Review>

@{
    ViewBag.Title = "Movie Reviews";

    var movie = (MovieLab.Models.Movie)ViewBag.Movie;
}

<h2>Movie Reviews for @movie.Title</h2>

<table class="table">

    @foreach (var r in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => r.ReviewTitle) <br />
                @Html.DisplayFor(modelItem => r.MovieRating) / 100<br />
                @Html.DisplayFor(modelItem => r.ReviewText) <br />
                @Html.DisplayFor(modelItem => r.ReviewTime) <br />
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Add a Review", "UserCreate", "Reviews", new { movieID = movie.ID}, null)
<br />
@Html.ActionLink("Return to movie list", "Index", "Movies")

