@using System.Collections.Generic;
@using System.Drawing;
@{
    ViewBag.Title = "Home Page";

    MovieLab.Models.ApplicationDbContext db = new MovieLab.Models.ApplicationDbContext();
    List<MovieLab.Models.Movie> movies = db.movie.ToList();

    List<Point> ratings = new List<Point>();
    foreach(MovieLab.Models.Movie movie in movies)
    {
        int averageRating = 0;
        var reviews = db.review.Where(r => r.MovieID == movie.ID);

        foreach(MovieLab.Models.Review rev in reviews)
        {
            averageRating = averageRating + rev.MovieRating;
        }

        averageRating = averageRating / (reviews.Count() == 0 ? 1 : reviews.Count());

        ratings.Add(new Point(averageRating, movie.ID));
    }

    List<Point> topRatings = ratings.OrderByDescending(r => r.X).Take(5).ToList();
    List<MovieLab.Models.Movie> topMovies = new List<MovieLab.Models.Movie>();
    foreach(Point p in topRatings)
    {
        foreach(MovieLab.Models.Movie m in movies)
        {
            if(p.Y == m.ID)
            {
                topMovies.Add(m);
                break;
            }
        }
    }
}

<div class="jumbotron">
    <h1>The Movie Manager</h1>
</div>

<div class="row">
    <!--https://www.w3schools.com/bootstrap/bootstrap_carousel.asp-->
    <div class="col-md-4">
    <h4>Top Reviewed Movies</h4>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="@Url.Action("Details", "Movies", new { id = topMovies[0].ID })"><img src="@topMovies[0].Photo" style="min-width: 100%; height: 400px; width:300px; max-width: none;" alt="1st Place"></a>
                <strong style="margin:auto; float:right;">@topMovies[0].Title</strong><br/>
            </div>

            <div class="item">
                <a href="@Url.Action("Details", "Movies", new { id = topMovies[1].ID })"><img src="@topMovies[1].Photo" style="min-width: 100%; height: 400px; width:300px; max-width: none;" alt="2nd Place"></a>
                <strong style="margin:auto; float:right;">@topMovies[1].Title</strong><br />
            </div>

            <div class="item">
                <a href="@Url.Action("Details", "Movies", new { id = topMovies[2].ID })"><img src="@topMovies[2].Photo" style="min-width: 100%; height: 400px;  width:300px; max-width: none;" alt="3rd Place"></a>
                <strong style="margin:auto; float:right;">@topMovies[2].Title</strong><br />
            </div>

            <div class="item">
                <a href="@Url.Action("Details", "Movies", new { id = topMovies[3].ID })"><img src="@topMovies[3].Photo" style="min-width: 100%; height: 400px; width:300px; max-width: none;" alt="4th Place"></a>
                <strong style="margin:auto; float:right;">@topMovies[3].Title</strong><br />
            </div>

            <div class="item">
                <a href="@Url.Action("Details", "Movies", new { id = topMovies[4].ID })"><img src="@topMovies[4].Photo" style="min-width: 100%; height: 400px; width:300px; max-width: none;" alt="5th Place"></a>
                <strong style="margin:auto; float:right;">@topMovies[4].Title</strong><br />
            </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <div class="col-md-4">
        <h2>About our service</h2>
        <p>
            The Movie Manager offers a selection of historic and modern movies to peruse at your leisure.
        </p>
    </div>

    <div class="col-md-4">
        <h2>How to get started</h2>
        <p>To view a list of movies, click the button below.</p>
        <button type="button" onclick="location.href='@Url.Action("Index","Movies")'" class="btn">Movie List</button>
    </div>
</div>